img {
  max-height: 225px;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 7em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 1em;
}

.home {
  text-align: center;
  color: rgb(245, 233, 233);
}

button {
  font-size: 2em;
  background-color: black;
  color: gray;
}

.selectionResults {
  color: white;
  text-align: center;
}

button:hover {
  color: white;
  opacity: 0.6;
  background-color: red;
}

.buttons {
  display: flex;
  flex-flow: wrap;
}

.detail-veiw {
  text-align: center;
  color: rgb(243, 231, 231);
}